.about {
  padding-top: 60px;
  background-color: grey;
}
.about__img {
  display: flex;
  justify-content: center;
}

.info-data {
  text-align: left;

  color: whitesmoke;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.about__icon {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  padding-top: 0px;
  color: aliceblue;
  cursor: pointer;
}
.about__icon > .MuiSvgIcon-root {
  font-size: 60px;
}
.about__icon > .linkedin:hover {
  color: #1c77b5;
}
