.research {
  padding-top: 100px;
  background-color: lightsteelblue;
}

.rnd__heading {
  padding: 8px;
  text-align: center;
}
.rnd__info {
  padding-bottom: 15px;
  margin-bottom: 0px;
}

div > ul > li {
  padding: 15px;
}
